/**
* メインメニューー
*/
.p-mainmenu {

	a {
		color: $textColor2;
		text-decoration: none;
		font-size: 1.6rem;
		transition: 0.3s;

		&:hover {
			color: $textColor;
		}
	}

	ul {
		display: flex;
	}

	li {
		flex: 0 0 auto;
	}

	li + li {
		margin-left: 56px;
	}

}

@include mq-down(md) {

	.p-menu-btn {
		text-align: center;
		position: absolute;
		width: 18px;
		height: 18px;
		left: 18px;
		z-index: 9999;
		cursor: pointer;
		transition: all 0.3s ease-out;

		&,
		& span {
			display: inline-block;
			transition: all 0.4s;
		}

		& span {
			position: absolute;
			left: 0;
			right: 0;
			margin: auto;
			width: 18px;
			height: 2px;
			background-color: $textColor2;
			border-radius: 5px;
		}

		& span:nth-of-type(1) {
			top: 2px;
		}

		& span:nth-of-type(2) {
			bottom: 8px;
		}

		& span:nth-of-type(3) {
			bottom: 2px;
		}
	}

	.is-menu-open .p-menu-btn span {

		&:nth-of-type(1) {
			transform: translateY(6px) rotate(-45deg);
		}

		&:nth-of-type(2) {
			opacity: 0;
		}

		&:nth-of-type(3) {
			transform: translateY(-6px) rotate(45deg);
		}
	}

	.p-sitenav-sp {
		position: fixed;
		width: 100%;
		height: auto;
		top: 0;
		left: 0;
		z-index: -1;
		background: $backColor2;
		opacity: 0;
		overflow-y: auto;
		overflow: auto;
		visibility: hidden;
		margin-top: -200px;
		transition: all 0.5s;
		padding: 40px 96px 40px;
	}

	.is-menu-open .p-sitenav-sp {
		opacity: 1;
		visibility: visible;
		z-index: 2000;
		margin-top: 0;
	}

	.p-mainmenu-sp {

		li + li {
			margin-top: 16px;
		}

		a {
			color: #fff;
		}
	}
}


/**
* 絞り込みナビゲーション
*/
.p-sortnav {

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: -24px;

	&-item {
		flex: 0 0 auto;
		padding: 0 16px;
		margin-bottom: 24px;

		@include mq-up(md) {
			padding: 0 20px;
		}
	}

	&-cat-area {
		display: flex;
		align-items: center;
		font-size: 1.6rem;
		text-decoration: none;
		color: $textColor2;
		transition: all 0.3s ease-out;
		padding-bottom: 16px;
		border-bottom: 1px solid #707070;
		border-bottom-color: $backColor1;

		@include mq-up(md) {
			font-size: 1.8rem;
		}
	}

	&-cat-area:hover,
	.current .p-sortnav-cat-area {
		color: $textColor;
		border-bottom-color: #707070;
		padding-bottom: 16px;

		.c-label {
			background-color: $textColor;
		}
	}

	&-cat {
		line-height: 1;
	}

	&-count {
		font-size: 1rem;
		margin-left: 4px;
		transition: all 0.3s ease-out;

		@include mq-up(md) {
			font-size: 1.2rem;
		}
	}


}
