/**
* レイアウト
*/
#l-header,
#l-container,
#l-bottom {
	width: 1371px;
}

#l-left {
}

#l-right {
}

.l-container__inn {
	padding: 40px 80px;
}

/**
* ヘッダー
*/
.p-header {

	&__txt {
		font-size: 42px;
		font-weight: 900;
		color: #fff;
		padding: 30px;
		background-color: $mainColor;
		text-align: center;
		line-height: 1;
	}

	&__strong {
		background-color: #fffece;
		display: inline-block;
		padding: 10px;
		color: $mainColor;
		font-weight: 900;
	}
}


.p-flex {
	display: flex;
}


/**
* チャート
*/
.p-chart {
	border: 11px solid #e3f3ff;
	background-color: #f7fbff;
	padding: 40px;
	text-align: center;
	position: relative;

	&__title {
		font-size: 36px;
		font-weight: 700;
		color: $mainColor;
		border-bottom: 1px solid $mainColor;
		padding-bottom: 30px;
		line-height: 1;
		display: inline-block;
	}

	&__graph {
		margin: 0 auto;
		width: 660px;
	}

	&__score {
		left: 30px;
		position: absolute;
		top: -20px;
	}

	&__last {
		background-color: #efec03;
		padding: 20px;
		color: #111;

		* {
			font-weight: 700;
			line-height: 1;
		}
	}

	&__last-title {
		font-size: 14px;
	}

	&__last-score {
		font-size: 55px;
		margin-top: 16px;
	}

	&__last-small {
		font-size: 14px;
		margin-top: 6px;
	}

	&__first {
		background-color: #4e4e33;
		color: white;
		line-height: 1;
		padding: 20px;
		position: relative;

		* {
			font-weight: bold;
		}

		&::before {
			position: absolute;
			top: -40px;
			width: 0;
			left: 0;
			right: 0;
			margin: auto;
			content: "";
			display: block;
			border: 30px solid;
			border-color: transparent transparent #4e4e33 transparent;
		}
	}

	&__first-score {
		font-size: 26px;
	}

	&__first-small {
		font-size: 14px;
		margin-top: 4px;
	}
}

.p-chart-logo {
	margin: auto;
	width: 250px;
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.p-right-contents {
	margin-top: 40px;
}

/**
* 項目
*/
.p-list {

	* {
		font-weight: 700;
		line-height: 1;
	}

	&__box {

		&:nth-of-type(even) {

			.p-list__title-area,
			.p-list__score {
				background-color: #f7fbff;
			}

		}

		&:nth-of-type(odd) {

			.p-list__title-area,
			.p-list__score {
				background-color: #e3f3ff;
			}

		}
	}

	&__title-area {
		flex: 1 0 calc(100% - 110px - 2px);
		padding: 30px;

	}

	&__title {
		background-color: #7989e6;
		display: inline-block;
		padding: 6px 10px;
		color: white;
	}

	&__comment {
		margin-top: 10px;
		overflow: hidden;
		height: 1em;
	}

	&__score {
		flex: 0 0 110px;
		font-size: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 2px;
		padding: 0 30px;
	}
}

/**
* ボトム
*/
.p-bottom-contents {
	border-top: 3px solid $mainColor;
}

.p-meta {
	flex: 0 0 416px;
	padding: 40px 80px 40px 40px;
	background-color: #fafafa;

	&__name {
		border: 1px solid #707070;
		padding: 10px;
		font-size: 20px;
		font-weight: 700;
	}

	&__date {
		border: 1px solid #707070;
		padding: 10px;
		margin-top: -1px;
	}
}

.p-meesage {
	padding: 40px 40px 40px 80px;
	flex: 1 0 calc(100% - 416px);

	&__title {

		* {
			font-weight: 700;
		}

		span {
			padding-left: 0.5em;
		}
		font-size: 20px;
		font-weight: 700;
		line-height: 1;
		color: $mainColor;
	}

	&__txt {
		margin-top: 20px;
		overflow: hidden;
		height: calc(6em * 1.8);//4行目以降は非表示
	}
}

.p-logo {
	margin-top: 16px;
}

/**
* インデックスページ
*/
.p-index {
	width: 980px;
	margin: 0 auto;
	padding: 60px;
}

.p-pagination {

	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	justify-content: center;
	margin-top: 1.25rem;

	@include mq-up(md) {
		margin-top: 1.5rem;
	}

	&__pager {
		font-size: 0.75rem;
		margin: 0 0.25rem;
		text-decoration: none;
		color: $mainColor;
		border: 1px solid #abbcd4;
		width: 2rem;
		height: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;

		@include mq-up(md) {
			font-size: 0.875rem;
		}

		&:hover {
			color: $textColor;
		}
	}

	&__current {
		color: white;
		background-color: #abbcd4;
	}

}

/**
* ボタン
*/
.c-btn {
	display: block;
	text-align: center;
	padding: 0.5rem  1rem;
	background-color: #fff;
	border: 1px solid $mainColor;
	border-radius: 3px;
	font-size: 0.875rem;
	text-decoration: none;
	font-weight: 700;
	line-height: 1;
	color: $mainColor;

	span {
		font-weight: 700;
	}

}

