#l-header,
#l-container,
#l-bottom {
	width: 1920px;
}

#l-left {
	flex: 0 0 50%;
	padding: 30px 20px 30px 40px;
}

#l-right {
	flex: 0 0 50%;
	padding: 30px 40px 30px 20px;
}

.p-header__txt {
	font-size: 42px;
	font-weight: 900;
	color: #fff;
	padding: 30px;
	background-color: $mainColor;
	text-align: center;
	line-height: 1;
}

.p-flex {
	display: flex;
}

.p-chart {
	border: 11px solid #e3f3ff;
	background-color: #f7fbff;
	padding: 40px;
	text-align: center;
	position: relative;

	&__title {
		font-size: 36px;
		font-weight: 700;
		color: $mainColor;
		border-bottom: 1px solid $mainColor;
		padding-bottom: 30px;
		line-height: 1;
		display: inline-block;
	}

	&__graph {
		margin-top: 40px;
		height: 710px;
		width: 710px;
	}

	&__score {
		left: 30px;
		position: absolute;
		top: -20px;
	}

	&__last {
		background-color: #efec03;
		padding: 20px;
		color: 111;

		* {
			font-weight: 700;
			line-height: 1;
		}
	}

	&__last-title {
		font-size: 14px;
	}

	&__last-score {
		font-size: 55px;
		margin-top: 16px;
	}

	&__last-small {
		font-size: 14px;
		margin-top: 6px;
	}

	&__first {
		background-color: #4e4e33;
		color: white;
		line-height: 1;
		padding: 20px;
		position: relative;

		* {
			font-weight: bold;
		}

		&::before {
			position: absolute;
			top: -40px;
			width: 0;
			left: 0;
			right: 0;
			margin: auto;
			content: "";
			display: block;
			border: 30px solid;
			border-color: transparent transparent #4e4e33 transparent;
		}
	}

	&__first-score {
		font-size: 26px;
	}

	&__first-small {
		font-size: 14px;
		margin-top: 4px;
	}
}

.p-list {

	* {
		font-weight: 700;
		line-height: 1;
	}

	&__box {

		&:nth-of-type(even) {

			.p-list__title-area,
			.p-list__score {
				background-color: #f7fbff;
			}

		}

		&:nth-of-type(odd) {

			.p-list__title-area,
			.p-list__score {
				background-color: #e3f3ff;
			}

		}
	}

	&__title-area {
		flex: 1 0 auto;
		padding: 20px;

	}

	&__title {
		background-color: #7989e6;
		display: inline-block;
		padding: 6px 10px;
		color: white;
	}

	&__comment {
		margin-top: 10px;
	}

	&__score {
		flex: 0 0 70px;
		padding: 20px;
		font-size: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 2px;
	}
}

.p-bottom-contents {
	border-top: 3px solid $mainColor;
}

.p-meta {
	flex: 1 0 416px;
	padding: 30px 40px;
	background-color: #fafafa;

	&__name {
		border: 1px solid #707070;
		padding: 10px;
		font-size: 20px;
		font-weight: 700;
	}

	&__date {
		border: 1px solid #707070;
		padding: 10px;
		margin-top: -1px;
	}
}

.p-meesage {
	padding: 30px 40px;

	&__title {
		font-size: 20px;
		font-weight: 700;
		line-height: 1;
		color: $mainColor;
	}

	&__txt {
		margin-top: 20px;
	}
}

.p-logo {
	margin-top: 16px;
}
